<div>
    <img class="logo-checked" src="img/checked.png">
</div>
<div class="checkEnvio">El mensaje se envio correctamente!
    <p> {{ info }} {{ apellido }}</p>
</div>
<a class="btn btn-primary" href="index.html" role="button">Volver</a>

<!-- viene de la parte de la app "res.render('mensajeEnviado', {info: info.response});" -->
